@import "bootstrap-sprockets", "bootstrap", "events"

html
  font-size: 16px

a
  .glyphicon.glyphicon-chevron-right
    padding-left: 10px
  .glyphicon.glyphicon-chevron-left
    padding-right: 10px

.pagination
  li
    a
      width: 150px

// For calendar
td
  p
    margin: 0
    a
      font-size: 13px

.site-footer
  position: relative
  margin-top: 40px
  padding-top: 40px
  padding-bottom: 40px
  font-size: 12px
  line-height: 1.5
  color: #777
  border-top: 1px solid #eee