@import "bootstrap-sprockets"
@import "bootstrap"
@import "events"


a
  .glyphicon.glyphicon-chevron-right
    padding-left: 10px
  .glyphicon.glyphicon-chevron-left
    padding-right: 10px

.pagination
  li
    a
      width: 150px

// For calendar
td
  p
    margin: 0
    a
      font-size: 13px