$not-quite-white: #f7f7f7
$font-size-base: 16px

@font-face
  font-family: 'Glyphicons Halflings'
  //src: url('http://getbootstrap.com/dist/fonts/glyphicons-halflings-regular.woff2') format("woff2")
  src: asset_url('glyphicons-halflings-regular.woff2') format("woff2")


@import "bootstrap-sprockets", "bootstrap", "events", "buttons"

html
  font-size: 16px
  body
    background-color: $not-quite-white

a
  .glyphicon.glyphicon-chevron-right
    padding-left: 10px
  .glyphicon.glyphicon-chevron-left
    padding-right: 10px

//.pagination
//  li
//    a
//      width: 150px

.navbar-Cortadito
  @extend .navbar-default
  border: none
  .navbar-brand-Cortadito
    @extend .navbar-brand
    float: none
    line-height: inherit
    margin-left: 16px // Compensating for Nav Toggle

// For calendar
td
  p
    margin: 0
    a
      font-size: 13px

.event-card-container
  @extend .col-lg-6
  @extend .col-lg-push-3
  @extend .col-md-8
  @extend .col-md-push-2
  padding: 0.5em
  a
    color: inherit
    text-decoration: none
    &:hover, &:focus
      text-decoration: none

.event-card
  padding: .5em
  padding-left: 1em
  margin: .5em
  color: whitesmoke
  .title
    font-size: 1.5em

.site-footer
  position: relative
  margin-top: 40px
  padding-top: 40px
  padding-bottom: 40px
  font-size: 12px
  line-height: 1.5
  color: #777
  border-top: 1px solid #eee

.path-debug
  content: twbs-font-path('#{$icon-font-path}#{$icon-font-name}.ttf')