html lang='en'
  head
    title
      - if content_for? :title
        | Cortadito - #{yield :title}
      - else
        | Cortadito

    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="A simple app to keep track of South Florida Tech"
    meta name="author" content="Chris Scott"

    // Defaults
    meta value="twitter:site" content="@CortaditioMiami"
    meta name="twitter:card" content="summary"
    meta property="og:site_name" content="Cortadito.Miami"

    - if content_for? :event_meta_tags
      = yield :event_meta_tags

    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places', 'data-turbolinks-track' => true

  body id=params[:controller] class=params[:action]

    = render 'partial/nav'

    .text-center
      .alert.alert-warning
        span.close data-dismiss="alert"
          span aria-hidden="true"
            | &times;
        .message
          | Welcome to Cortadito South Floridas Tech Board.
          | We are currently in testing so please pardon the mess.
          a href="https://github.com/CyberStrike/soflo" - Team Cortadito

    .container
      - unless flash.empty?
        .text-center
          .notice.text-info = notice
          .alert.text-danger = alert
      = yield

    .site-footer
      .text-center
        .octocat
          a href="https://github.com/CyberStrike/soflo"
            img src="https://octodex.github.com/images/constructocat2.jpg" height="36px"
        p
          strong &copy; #{DateTime.now.year} Cortadito Miami
        p
          Strong Built with ❤ by Syntax